<a href="https://colab.research.google.com/github/MorganDaviesEcon/MorganDaviesEcon.github.io/blob/main/Week9_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.87)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)

In [ ]:
import yfinance as yf

In [ ]:
msft = yf.Ticker("MSFT").history(period='1y')

In [ ]:
msft

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-01 00:00:00-05:00,332.018946,336.130415,326.332241,327.015808,33337600,0.0,0
2021-12-02 00:00:00-05:00,327.233783,330.394173,324.756991,326.431305,30766000,0.0,0
2021-12-03 00:00:00-05:00,328.908030,329.611461,315.077633,320.011414,41779300,0.0,0
2021-12-06 00:00:00-05:00,320.942730,324.410239,316.266546,323.161926,30032600,0.0,0
2021-12-07 00:00:00-05:00,328.561333,332.682688,327.035620,331.810883,31021900,0.0,0
...,...,...,...,...,...,...,...
2022-11-23 00:00:00-05:00,245.110001,248.279999,244.270004,247.580002,19508500,0.0,0
2022-11-25 00:00:00-05:00,247.309998,248.699997,246.729996,247.490005,9200800,0.0,0
2022-11-28 00:00:00-05:00,246.080002,246.649994,240.800003,241.759995,24778200,0.0,0
2022-11-29 00:00:00-05:00,241.399994,242.789993,238.210007,240.330002,17956300,0.0,0
2022-11-30 00:00:00-05:00,240.570007,255.330002,239.860001,255.139999,47183613,0.0,0

In [ ]:
mcd = yf.Ticker("AAPL").history(period='1y')

In [ ]:
mcd

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-01 00:00:00-05:00,166.513599,169.317334,163.580624,163.819244,152052500,0.0,0
2021-12-02 00:00:00-05:00,157.824041,163.252527,156.889462,162.815063,136739200,0.0,0
2021-12-03 00:00:00-05:00,163.073541,164.008119,158.798351,160.906113,118023100,0.0,0
2021-12-06 00:00:00-05:00,163.341988,166.911284,163.332051,164.366058,107497000,0.0,0
2021-12-07 00:00:00-05:00,168.104357,170.589931,167.368622,170.192230,120405400,0.0,0
...,...,...,...,...,...,...,...
2022-11-23 00:00:00-05:00,149.449997,151.830002,149.339996,151.070007,58301400,0.0,0
2022-11-25 00:00:00-05:00,148.309998,148.880005,147.119995,148.110001,35195900,0.0,0
2022-11-28 00:00:00-05:00,145.139999,146.639999,143.380005,144.220001,69246000,0.0,0
2022-11-29 00:00:00-05:00,144.289993,144.809998,140.350006,141.169998,83763800,0.0,0
2022-11-30 00:00:00-05:00,141.395004,148.029999,140.550003,148.029999,98016584,0.0,0

In [ ]:
dfs = []
for x in ['MSFT','AAPL']:
  df = yf.Ticker(x).history(period='1y')
  df=df[['Close']]
  df['Name']=x
  dfs.append(df)

In [ ]:
dframes[0]

                                Close  Name
Date
2021-11-30 00:00:00-05:00  327.521088  MSFT
2021-12-01 00:00:00-05:00  327.015808  MSFT
2021-12-02 00:00:00-05:00  326.431305  MSFT
2021-12-03 00:00:00-05:00  320.011444  MSFT
2021-12-06 00:00:00-05:00  323.161926  MSFT
...                               ...   ...
2022-11-23 00:00:00-05:00  247.580002  MSFT
2022-11-25 00:00:00-05:00  247.490005  MSFT
2022-11-28 00:00:00-05:00  241.759995  MSFT
2022-11-29 00:00:00-05:00  240.330002  MSFT
2022-11-30 00:00:00-05:00  250.830002  MSFT

[253 rows x 2 columns]

In [ ]:
import pandas as pd

In [ ]:
dframes2=pd.DataFrame()
for x in dfs:
  stock_name=x['Name'].values[0]
  x=x[['Close']]
  x.columns=[stock_name]
  dframes2=x.join(dframes2)
dframes2.head(3)

                                 AAPL        MSFT
Date
2021-12-01 00:00:00-05:00  163.819229  327.015808
2021-12-02 00:00:00-05:00  162.815063  326.431274
2021-12-03 00:00:00-05:00  160.906128  320.011475

In [ ]:
dframes2.to_csv('aapl_msft_close_prices.csv')