<a href="https://colab.research.google.com/github/MorganDaviesEcon/MorganDaviesEcon.github.io/blob/main/Task3_clean_water.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Clean_Water.csv',skiprows=3)

In [ ]:
df.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,People using safely managed drinking water ser...,SH.H2O.SMDW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,People using safely managed drinking water ser...,SH.H2O.SMDW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Drop columns we don't need
df2 =df.drop(['Indicator Name','Indicator Code'],axis=1)

In [ ]:
df2

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.818832,21.671018,22.523437,23.376206,24.229208,25.083892,25.940512,26.798956,27.588956,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.405092,20.859101,21.312738,21.766273,22.219338,22.671815,23.116247,23.559470,23.986290,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.081425,30.834275,30.601953,30.385178,30.183683,29.997683,29.827913,29.673569,29.535890,NaN

In [ ]:
# stack the remaining columns to make it TIDY format
df3 = df2.set_index(['Country Name','Country Code']).stack().reset_index()

In [ ]:
df3

     Country Name Country Code level_2          0
0     Afghanistan          AFG    2000  10.927531
1     Afghanistan          AFG    2001  10.938792
2     Afghanistan          AFG    2002  11.725373
3     Afghanistan          AFG    2003  12.512121
4     Afghanistan          AFG    2004  13.305995
...           ...          ...     ...        ...
3149     Zimbabwe          ZWE    2016  30.183683
3150     Zimbabwe          ZWE    2017  29.997683
3151     Zimbabwe          ZWE    2018  29.827913
3152     Zimbabwe          ZWE    2019  29.673569
3153     Zimbabwe          ZWE    2020  29.535890

[3154 rows x 4 columns]

In [ ]:
# check columns
df3.columns

Index(['Country Name', 'Country Code', 'level_2', 0], dtype='object')

In [ ]:
# rename columns
df4 = df3.rename(columns={'level_2':'Year',0:'Using Safe Water (Percent of Population)'})

In [ ]:
df4

     Country Name Country Code  Year  Using Safe Water (Percent of Population)
0     Afghanistan          AFG  2000                                 10.927531
1     Afghanistan          AFG  2001                                 10.938792
2     Afghanistan          AFG  2002                                 11.725373
3     Afghanistan          AFG  2003                                 12.512121
4     Afghanistan          AFG  2004                                 13.305995
...           ...          ...   ...                                       ...
3149     Zimbabwe          ZWE  2016                                 30.183683
3150     Zimbabwe          ZWE  2017                                 29.997683
3151     Zimbabwe          ZWE  2018                                 29.827913
3152     Zimbabwe          ZWE  2019                                 29.673569
3153     Zimbabwe          ZWE  2020                                 29.535890

[3154 rows x 4 columns]

In [ ]:
# changing index to country code
df5 = df4.set_index('Country Code')

In [ ]:
df5

             Country Name  Year  Using Safe Water (Percent of Population)
Country Code
AFG           Afghanistan  2000                                 10.927531
AFG           Afghanistan  2001                                 10.938792
AFG           Afghanistan  2002                                 11.725373
AFG           Afghanistan  2003                                 12.512121
AFG           Afghanistan  2004                                 13.305995
...                   ...   ...                                       ...
ZWE              Zimbabwe  2016                                 30.183683
ZWE              Zimbabwe  2017                                 29.997683
ZWE              Zimbabwe  2018                                 29.827913
ZWE              Zimbabwe  2019                                 29.673569
ZWE              Zimbabwe  2020                                 29.535890

[3154 rows x 3 columns]

In [ ]:
# get specific country data
df6 = df5.loc[{'ZWE','WLD','TUN','SVN','BLR','ECU'}]

In [ ]:
df6

             Country Name  Year  Using Safe Water (Percent of Population)
Country Code
ECU               Ecuador  2000                                 58.203047
ECU               Ecuador  2001                                 58.758023
ECU               Ecuador  2002                                 59.266559
ECU               Ecuador  2003                                 59.744210
ECU               Ecuador  2004                                 60.221442
...                   ...   ...                                       ...
ZWE              Zimbabwe  2016                                 30.183683
ZWE              Zimbabwe  2017                                 29.997683
ZWE              Zimbabwe  2018                                 29.827913
ZWE              Zimbabwe  2019                                 29.673569
ZWE              Zimbabwe  2020                                 29.535890

[126 rows x 3 columns]

In [ ]:
df7 = df6.reset_index()

In [ ]:
# check we have all the data needed from the specific countries
exported_values = list( df7.T.to_dict().values())

In [ ]:
exported_values

[{'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2000',
  'Using Safe Water (Percent of Population)': 58.20304683},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2001',
  'Using Safe Water (Percent of Population)': 58.75802328},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2002',
  'Using Safe Water (Percent of Population)': 59.26655874},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2003',
  'Using Safe Water (Percent of Population)': 59.74420979},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2004',
  'Using Safe Water (Percent of Population)': 60.2214417},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2005',
  'Using Safe Water (Percent of Population)': 60.69800623},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2006',
  'Using Safe Water (Percent of Population)': 61.17390579},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2007',
  'Using Safe Water (Percent of Population)': 61.64964051},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2008',
  'Using Safe Water (Percent of Population)': 62.12471337},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2009',
  'Using Safe Water (Percent of Population)': 62.59912586},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2010',
  'Using Safe Water (Percent of Population)': 63.0731279},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2011',
  'Using Safe Water (Percent of Population)': 63.53851286},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2012',
  'Using Safe Water (Percent of Population)': 63.99779835},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2013',
  'Using Safe Water (Percent of Population)': 64.45679449},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2014',
  'Using Safe Water (Percent of Population)': 64.91525851},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2015',
  'Using Safe Water (Percent of Population)': 65.37367203},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2016',
  'Using Safe Water (Percent of Population)': 65.83156127},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2017',
  'Using Safe Water (Percent of Population)': 66.18117482},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2018',
  'Using Safe Water (Percent of Population)': 66.3946973},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2019',
  'Using Safe Water (Percent of Population)': 66.60985564},
 {'Country Code': 'ECU',
  'Country Name': 'Ecuador',
  'Year': '2020',
  'Using Safe Water (Percent of Population)': 66.8266645},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2000',
  'Using Safe Water (Percent of Population)': 80.61114741},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2001',
  'Using Safe Water (Percent of Population)': 80.79672499},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2002',
  'Using Safe Water (Percent of Population)': 80.98077061},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2003',
  'Using Safe Water (Percent of Population)': 81.16290483},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2004',
  'Using Safe Water (Percent of Population)': 82.52754713},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2005',
  'Using Safe Water (Percent of Population)': 83.85957469},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2006',
  'Using Safe Water (Percent of Population)': 85.15943487},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2007',
  'Using Safe Water (Percent of Population)': 86.42759492},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2008',
  'Using Safe Water (Percent of Population)': 87.6647303},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2009',
  'Using Safe Water (Percent of Population)': 88.87068173},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2010',
  'Using Safe Water (Percent of Population)': 90.05490204},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2011',
  'Using Safe Water (Percent of Population)': 91.20763555},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2012',
  'Using Safe Water (Percent of Population)': 92.32544326},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2013',
  'Using Safe Water (Percent of Population)': 93.40899223},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2014',
  'Using Safe Water (Percent of Population)': 94.45894388},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2015',
  'Using Safe Water (Percent of Population)': 94.48513534},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2016',
  'Using Safe Water (Percent of Population)': 94.51098812},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2017',
  'Using Safe Water (Percent of Population)': 94.53652766},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2018',
  'Using Safe Water (Percent of Population)': 94.56172932},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2019',
  'Using Safe Water (Percent of Population)': 94.58659114},
 {'Country Code': 'BLR',
  'Country Name': 'Belarus',
  'Year': '2020',
  'Using Safe Water (Percent of Population)': 94.61114668},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2000',
  'Using Safe Water (Percent of Population)': 80.16590208},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2001',
  'Using Safe Water (Percent of Population)': 80.16590208},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2002',
  'Using Safe Water (Percent of Population)': 80.16590208},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2003',
  'Using Safe Water (Percent of Population)': 81.37820418},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2004',
  'Using Safe Water (Percent of Population)': 82.59050628},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2005',
  'Using Safe Water (Percent of Population)': 83.80280837},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2006',
  'Using Safe Water (Percent of Population)': 85.01511047},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2007',
  'Using Safe Water (Percent of Population)': 86.22741256},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2008',
  'Using Safe Water (Percent of Population)': 87.43971466},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2009',
  'Using Safe Water (Percent of Population)': 88.65201676},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2010',
  'Using Safe Water (Percent of Population)': 89.86431885},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2011',
  'Using Safe Water (Percent of Population)': 91.07662095},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2012',
  'Using Safe Water (Percent of Population)': 92.28892304},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2013',
  'Using Safe Water (Percent of Population)': 93.50122514},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2014',
  'Using Safe Water (Percent of Population)': 94.71352724},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2015',
  'Using Safe Water (Percent of Population)': 95.92582933},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2016',
  'Using Safe Water (Percent of Population)': 97.13813143},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2017',
  'Using Safe Water (Percent of Population)': 98.27432091},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2018',
  'Using Safe Water (Percent of Population)': 98.27432091},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2019',
  'Using Safe Water (Percent of Population)': 98.27432091},
 {'Country Code': 'SVN',
  'Country Name': 'Slovenia',
  'Year': '2020',
  'Using Safe Water (Percent of Population)': 98.27432091},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2000',
  'Using Safe Water (Percent of Population)': 61.72681357},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2001',
  'Using Safe Water (Percent of Population)': 61.9946817},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2002',
  'Using Safe Water (Percent of Population)': 62.53974002},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2003',
  'Using Safe Water (Percent of Population)': 62.82667033},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2004',
  'Using Safe Water (Percent of Population)': 63.11558104},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2005',
  'Using Safe Water (Percent of Population)': 63.39525453},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2006',
  'Using Safe Water (Percent of Population)': 63.68991142},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2007',
  'Using Safe Water (Percent of Population)': 63.97722679},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2008',
  'Using Safe Water (Percent of Population)': 64.26010366},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2009',
  'Using Safe Water (Percent of Population)': 65.0136684},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2010',
  'Using Safe Water (Percent of Population)': 65.76047953},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2011',
  'Using Safe Water (Percent of Population)': 66.602581},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2012',
  'Using Safe Water (Percent of Population)': 67.48273821},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2013',
  'Using Safe Water (Percent of Population)': 68.39149931},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2014',
  'Using Safe Water (Percent of Population)': 69.29678157},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2015',
  'Using Safe Water (Percent of Population)': 70.1993709},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2016',
  'Using Safe Water (Percent of Population)': 71.09350427},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2017',
  'Using Safe Water (Percent of Population)': 71.97965676},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2018',
  'Using Safe Water (Percent of Population)': 72.84987619},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2019',
  'Using Safe Water (Percent of Population)': 73.66120222},
 {'Country Code': 'WLD',
  'Country Name': 'World',
  'Year': '2020',
  'Using Safe Water (Percent of Population)': 74.26603417},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2000',
  'Using Safe Water (Percent of Population)': 73.2867413},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2001',
  'Using Safe Water (Percent of Population)': 73.64562713},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2002',
  'Using Safe Water (Percent of Population)': 74.00025004},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2003',
  'Using Safe Water (Percent of Population)': 74.35087317},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2004',
  'Using Safe Water (Percent of Population)': 74.69354303},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2005',
  'Using Safe Water (Percent of Population)': 75.01480973},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2006',
  'Using Safe Water (Percent of Population)': 75.33326121},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2007',
  'Using Safe Water (Percent of Population)': 75.64847282},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2008',
  'Using Safe Water (Percent of Population)': 75.96067476},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2009',
  'Using Safe Water (Percent of Population)': 76.26989253},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2010',
  'Using Safe Water (Percent of Population)': 76.57592586},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2011',
  'Using Safe Water (Percent of Population)': 76.87921432},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2012',
  'Using Safe Water (Percent of Population)': 77.17955552},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2013',
  'Using Safe Water (Percent of Population)': 77.47658623},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2014',
  'Using Safe Water (Percent of Population)': 77.77091111},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2015',
  'Using Safe Water (Percent of Population)': 78.06377683},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2016',
  'Using Safe Water (Percent of Population)': 78.35491404},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2017',
  'Using Safe Water (Percent of Population)': 78.60573199},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2018',
  'Using Safe Water (Percent of Population)': 78.83515112},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2019',
  'Using Safe Water (Percent of Population)': 79.06204325},
 {'Country Code': 'TUN',
  'Country Name': 'Tunisia',
  'Year': '2020',
  'Using Safe Water (Percent of Population)': 79.28615477},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2000',
  'Using Safe Water (Percent of Population)': 32.86809095},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2001',
  'Using Safe Water (Percent of Population)': 33.06437688},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2002',
  'Using Safe Water (Percent of Population)': 33.24051596},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2003',
  'Using Safe Water (Percent of Population)': 33.1683449},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2004',
  'Using Safe Water (Percent of Population)': 33.05833431},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2005',
  'Using Safe Water (Percent of Population)': 32.81154762},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2006',
  'Using Safe Water (Percent of Population)': 32.56444464},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2007',
  'Using Safe Water (Percent of Population)': 32.31751538},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2008',
  'Using Safe Water (Percent of Population)': 32.07028168},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2009',
  'Using Safe Water (Percent of Population)': 31.82324514},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2010',
  'Using Safe Water (Percent of Population)': 31.57592047},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2011',
  'Using Safe Water (Percent of Population)': 31.32881038},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2012',
  'Using Safe Water (Percent of Population)': 31.08142506},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2013',
  'Using Safe Water (Percent of Population)': 30.83427531},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2014',
  'Using Safe Water (Percent of Population)': 30.60195283},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2015',
  'Using Safe Water (Percent of Population)': 30.38517823},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2016',
  'Using Safe Water (Percent of Population)': 30.18368276},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2017',
  'Using Safe Water (Percent of Population)': 29.99768293},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2018',
  'Using Safe Water (Percent of Population)': 29.82791269},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2019',
  'Using Safe Water (Percent of Population)': 29.67356894},
 {'Country Code': 'ZWE',
  'Country Name': 'Zimbabwe',
  'Year': '2020',
  'Using Safe Water (Percent of Population)': 29.53588969}]

In [ ]:
import json

In [ ]:
# export into JSON form to upload to vega
open('clean_water.json','w').write(json.dumps(exported_values))

15738